.navbar-coustom{
    background-color: #5EBEC4 !important;
  
  }

  .logo{
      width:35px;
      margin: 0%;
      
  }
  
  

  .nav-brand-color{
    color: black !important; 
  }






