<link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="fluid-container col-lg-12">
    <app-navbar></app-navbar>
</div>


<div class="fluid-container main-container">
    <div class="fluid-container">
        <div class=" d-flex justify-content-center align-items-center h-100 h3 ">
            Thank You for choosing us, your Return Order has been Successfully Placed!
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center h-100 pt-3">
        <div class="custom-modal">
            <div class="succes succes-animation icon-top"><i class="fa fa-check"></i></div>
            <div class="succes border-bottom"></div>
            <div class="content">
                <p class="type  h3">Success!</p>
                <p class="message-type mb-4 h1">Order Placed!</p>
            </div>
        </div>
    </div>
    <div class="fluid-container mt-3">
        <div class=" d-flex justify-content-center align-items-center h-100 h5 ">
           Want to place another order?
            <button class="btn btn-primary custom-btn px-2 mx-2" (click)="onClick()">Click Me</button>
        </div>
    </div>
    
</div>